<div class="section3">
    <h3>התחסנות אוכלוסיה</h3>    
    <div class="flex">



<div class="info-box">
    <app-info-header></app-info-header>
    <!-- <div class="header">
        <div class="flex-header">
  <div class="cursor"><mat-icon>more_vert</mat-icon></div>  
  <div class="share-downloud">
   <div class="share-div">לשיתוף <div class="icon-border"><mat-icon class="icon">share</mat-icon></div></div> 
    <div class="share-div downloud">להורדה<div class="icon-border"><mat-icon class="icon">arrow_downward</mat-icon></div></div>
  </div>


        <div class="flex">

    <div  (mouseover)="show=true" (mouseout)="show=false"><mat-icon>error</mat-icon> </div>
     <div *ngIf="show"   class="info-hover" ><div (mouseover)="show=true" (mouseout)="show=false">פילוח של מספר החולים הפעילים וחולים קשה במחלת נגיף COVID-19, לפי קבוצות גיל באוכלוסייה ולפי מצבי התחסנות בכל קבוצת גיל.

    ל-100K תושבים - שכיחות החולים לכל 100,000 תושבים, עבור כל קבוצת מצב התחסנות.
    <br>
    <br>
    חולים פעילים - הם כל מי שנבדקו ונמצאו חיוביים לנגיף COVID-19, ללא קשר להופעת תסמינים, שלא קיבלו עדיין תוצאה שלילית לנגיף בבדיקות נוספות ושלא נפטרו.
    <br>
    <br>
    מחוסנים:
    - מי שקיבלו 2 מנות חיסון או יותר ועבר שבוע מאז קבלת המנה האחרונה (שבועיים בחיסוני מודרנה) אך עוד לא עבר מאז תוקף הזמן שנקבע למנה
    -מי שהחלימו וקיבלו לפחות מנת חיסון אחת אך עוד לא עבר תוקף הזמן שנקבע למנה מאז החיסון או ההחלמה - האחרון שביניהם
    <br>
    <br>
    מחוסנים ללא תוקף - מי שקיבלו 2 מנות חיסון או יותר ועבר תוקף הזמן שנקבע למנה מאז החיסון ולא קיבלו מנה נוספת.
    - מי שהחלימו וקיבלו לפחות מנת חיסון אחת ועבר תוקף הזמן שנקבע למנה מאז החיסון או ההחלמה - האחרון שביניהם, ולא קיבלו מנה נוספת.
    <br>
    <br>
    לא מחוסנים - מי שלא קיבלו מנת חיסון ראשונה.</div></div>
    <div>חולים פעילים גיל והתחסנות</div>

        </div>    

        </div>    

    </div> -->
   <app-selection-button (sendRadioSelections)="changeData($event)" [title1]="title1" [radioSelection1]="radio1options" [radioSelection2]="radio2options"></app-selection-button>  
   <div style="position: relative; width: 100%;">
    <app-active-patients-age-and-vaccination-graph    class="graph-position"></app-active-patients-age-and-vaccination-graph>
    </div> 
    </div>

    <div class="info-box">

        </div>

        <div class="info-box">

     
            </div>

        

    </div>    
    
    </div>