.info-box {
  text-align: right;
  margin: 30px 5px 40px;
  min-height: 210px;
  min-width: 190px;
  background-color: var(--backround);
  border-radius: 10px;
  box-shadow: 0 4px 16px #00000040;
  width: 33%;
  height: 350px;
  margin: 0 10px 20px;
}
@media screen and (max-width: 1190px) {
  .info-box {
    width: 45%;
  }
  .flex {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 770px) {
  .info-box {
    width: 100%;
  }
  .flex {
    flex-wrap: wrap;
  }
}
.section7 {
  margin: 0 20px;
  text-align: right;
  border-bottom: 1px solid rgb(215, 212, 212);
  border-top: 1px solid rgb(215, 212, 212);
  padding-top: 20px;
  padding-bottom: 10px;

  h3 {
    font-size: 20px;
    margin-right: 10px;
  }
}
.flex {
  display: flex;
  justify-content: right;

  width: 100%;
}
.options-button {
  position: relative;
  top: 20px;
  right: 20px;
  z-index: 10;
  border-radius: 20px;
  padding: 5px;
}
.graph-position {
  position: absolute;
  left: 0;
  width: 100%;
  top: -30px;
}
