<div class="section7">
    <h3>תחלואה חוזרת ומחלימים </h3>    
    <div class="flex">



<div class="info-box">
<app-info-header [title]="chartTitle" [info]="info"></app-info-header>
<app-selection-button (sendRadioSelection)="changeData($event)" [radioSelection1]="time" [title1]="title"></app-selection-button>
<div style="position: relative; width: 100%;">
    <app-recurrnt-modrbidity-age-and-vaccination class="graph-position" ></app-recurrnt-modrbidity-age-and-vaccination>   
</div>

    </div>

    <div class="info-box">

 
        </div>


        

    </div>    
    
    </div>