.fknhs{
    background-color: rgb(129, 205, 129);
    color: rgb(89, 208, 238);

}
.tooltip-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;

    
  }
  
  .tooltip-category {
    font-weight: bold;
  }
  
  .tooltip-name {
    font-weight: bold;
  }
  
  .tooltip-population {
    margin-top: 5px;
  }