<div class="view-above-page">
  <p class="covid-19-title">קורונה</p>
  <p class="subject-title">מבט על</p>
  <div class="flex">
    <div class="info-box view-info-box">
      <app-info-header
        class="header"
        [withDownloadShareButton]="false"
        [title]="title1"
        [info]="info1"
      ></app-info-header>

      <h2 class="bold">2.83%</h2>

      <div class="detail">
        <div>נבדקים לגילוי הנגיף אתמול</div>
        <div class="bold number">258</div>
      </div>
      <div class="detail">
        <div>כלל הבדיקות אתמול</div>
        <div class="bold number">257</div>
      </div>
    </div>

    <div class="info-box view-info-box">
      <app-info-header
        class="header"
        [withDownloadShareButton]="false"
        [title]="title2"
        [info]="info2"
      ></app-info-header>
      <h2 class="bold">12,994</h2>
    </div>

    <div class="info-box view-info-box">
      <app-info-header
        class="header"
        [withDownloadShareButton]="false"
        [title]="title3"
        [info]="info3"
      ></app-info-header>
      <div class="vaccination-num">
        <h4>6,725,401</h4>
        <span style="font-size: 13px; margin-left: 19px">מנה 1</span>
      </div>
      <div class="vaccination-num">
        <h4>6,161,461</h4>
        <span style="font-size: 13px; margin-left: 19px">מנה 2</span>
      </div>
      <div class="vaccination-num">
        <h4>4,514,838</h4>
        <span style="font-size: 13px; margin-left: 19px">מנה 3</span>
      </div>
      <div class="vaccination-num">
        <h4>852,801</h4>
        <span style="font-size: 13px; margin-left: 19px">מנה 4</span>
      </div>
      <div class="vaccination-num">
        <h4>407,514</h4>
        <span style="font-size: 13px; margin-left: 11px">אומיקרון</span>
      </div>
    </div>

    <div class="info-box view-info-box">
      <app-info-header
        class="header"
        [withDownloadShareButton]="false"
        [title]="title4"
        [info]="info4"
      ></app-info-header>
      <h2 class="bold">16</h2>

      <div class="seriously-ill-num">
        <div class="bold number">5</div>
        <div style="margin-left: 11px">מתוכם קריטי</div>
        <div class="circle red"></div>
      </div>
      <div class="seriously-ill-num">
        <div class="bold number">0</div>
        <div style="margin-left: 11px">מחוברים לאקמו</div>
        <div class="circle red"></div>
      </div>
      <div class="seriously-ill-num">
        <div class="bold number">9</div>
        <div style="margin-left: 11px">מונשמים</div>
        <div class="circle yellow"></div>
      </div>
      <div class="seriously-ill-num" style="margin-top: 12px">
        <div class="bold number">1</div>
        <div style="margin-left: 11px">חולים בינוני</div>
      </div>
      <div class="seriously-ill-num">
        <div class="bold number">119</div>
        <div style="margin-left: 10px">חולים קל</div>
      </div>
    </div>

    <div class="info-box view-info-box">
      <app-info-header
        class="header"
        [withDownloadShareButton]="false"
        [title]="title5"
        [info]="info5"
      ></app-info-header>
      <h2 class="bold">151</h2>
      <div class="detail">
        <div>בבית חולים</div>
        <div class="bold number">365</div>
      </div>
    </div>

    <div class="info-box view-info-box">
      <app-info-header
        class="header"
        [withDownloadShareButton]="false"
        [title]="title6"
        [info]="info6"
      ></app-info-header>
      <h2 class="bold">17</h2>
      <div class="detail">
        <div>מחצות</div>
        <div class="bold number">15</div>
      </div>
      <div class="detail">
        <div>סה"כ</div>
        <div class="bold number">4,850,701</div>
      </div>
    </div>
  </div>

  <div class="info-box">
    <div class="box-title">
      <h3>סיכום 7 ימים אחרונים</h3>
    </div>
    <div class="flex">
      <div class="info-box width20">
        <app-info-header
        class="header"
        [withDownloadShareButton]="false"
        [title]="title7"
        [info]="info7"
      ></app-info-header>
        <h2 class="bold">3,386</h2>
        <div class="detail" style="margin-top: 15px; margin-bottom: 10px">
          <div>משבעה ימים קודמים</div>
          <div class="bold number">-5.6%</div>
        </div>
        <div class="detail" style="margin-bottom: 8px">
          <div>נבדקים חיוביים</div>
          <div class="bold number">2.2%</div>
        </div>
      </div>
      <div class="info-box width20">
        <app-info-header
        class="header"
        [withDownloadShareButton]="false"
        [title]="title8"
        [info]="info8"
      ></app-info-header>
        <h2 class="bold">1</h2>
        <div class="detail" style="margin-top: 15px; margin-bottom: 10px">
            <div>משבעה ימים קודמים</div>
            <div class="bold number">-66.7%</div>
          </div>
      </div>

      <div class="info-box width20">
        <app-info-header
        class="header"
        [withDownloadShareButton]="false"
        [title]="title9"
        [info]="info9"
      ></app-info-header>
        <h2 class="bold">0</h2>
        <div class="detail" style="margin-top: 15px; margin-bottom: 10px">
            <div>משבעה ימים קודמים</div>
            <div class="bold number">-100%</div>
          </div>
      </div>

      <div class="info-box width20">
        <app-info-header
        class="header"
        [withDownloadShareButton]="false"
        [title]="title10"
        [info]="info10"
      ></app-info-header>
        <h2 class="bold">73</h2>
        <div class="detail" style="margin-top: 15px; margin-bottom: 10px">
            <div>משבעה ימים קודמים</div>
            <div class="bold number">-38.7%</div>
          </div>
      </div>
    </div>
  </div>
</div>
