/* You can add global styles to this file, and also import other style files */
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
$blue: #4b6170;
$dark-blue: #222b45;
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(248, 250, 253);
}

.dark {
  --backround: rgb(55, 79, 96);
  --color: white;
  --body-background: #4b6170;
  --box-backgroound: rgb(55, 79, 96);
  background-color: #4b6170;
  --border: 0.2px solid #606d76;
  --hover: #2a3b47;
  --info-border: 1px solid white;
  --info-shadow: none;
  --options-buttons-background: #2a3b47;
  --card-backround: #26343e;
  --precent-batary-color: #2f3e4a;
  --border-table:white;

}

.light {
  --backround: white;
  --color: $dark-blue;
  --body-background: rgb(248, 250, 253);
  --box-backgroound: white;
  background-color: rgb(248, 250, 253);
  --border: 0 4px 16px #00000040;
  --hover: #f7f9fc;
  --info-border: none;
  --info-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  --options-buttons-background: #f7f9fc;
  --precent-batary-color: #e4e9f2;
  --card-backround: white;
  --border-table:black;
}
