.highcharts-legend-title{
    font-weight: bold;
}
.bo{
    font-size: 18px;
    text-align: right;
 width: 20px;
 height: 20px;   
 align-items: center;
 justify-content: right;
 margin-left: 5px;

}