<div class="section3">
    <h3>תחקורים נוספים</h3>    
    <div class="flex">


        <div class="info-box">

     
            </div>
<div class="info-box">
<app-info-header [title]="chartTitle" [info]="info"></app-info-header>
<app-selection-button (sendRadioSelections)="changeData($event)" [title1]="title1" [title2]="title2" [radioSelection1]="radio1options" [radioSelection2]="radio2options"></app-selection-button>
<div style="position: relative; width: 100%;">
<app-graph-by-age-and-genger  class="graph-position"></app-graph-by-age-and-genger>
</div>
    </div>



        <div class="info-box">

     
            </div>

        

    </div>    
    
    </div>